html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px; // Должно быть больше высоты хедера
}

a {
    color: white;
    text-decoration: none;
}

a.no-underline {
    text-decoration: none;
}

body {  
    margin: 0; 
    height: 100vh;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 100;
    color: rgb(255, 255, 255);
    background-color: black;
    padding-top: 100px;
    &.menu-open {
        overflow: hidden;
    }
}