.cards {
    padding-top: 250px;
    position: relative;
    height: 100vh;
    background: url("../images/166002-svet-krasochnost-purpur-sinij-fioletovyj-3840x2160.jpg") center/cover no-repeat;



    &__title {
        font-family: 'Raleway', sans-serif;
        position: absolute;
        display: inline-flex;
        font-size: 66px;
        margin: 0;
        top: 12%;
        right: 10%;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 20px;
        list-style: none;
    }
}