.hero {
    margin-top: 32px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__img {
        width: 530px;
        height: 530px;
    }

    &__content {

        width: 530px;
    }

    &__order {
        display: flex;
        flex-direction: column;
        margin: 0 0 32px;
    }

    &__title {
        margin: 0;
        font-size: 30px;
        font-weight: 900;
    }

    &__text {
        margin: 0 0 20px;
        font-size: 18px;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.705);
    }

    &__price {
        font-size: 24px;
        font-weight: 900;
        color: white;
        margin: 0 0 20px;
    }

    &__button {
        background-color: rgba(16, 188, 131, 0.992);
        padding: 12px 25px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-weight: 400;
        border-radius: 15px;
        width: fit-content;
        transition: background-color 0.3s;
    }

    &__button:hover {
        background-color: rgba(0, 104, 69, 0.992);
    }

    // Блок премуществ 
    &__advantages {
        margin: 0 0 24px;
    }

    &__advantages-title {
        margin: 0 0 48px;
    }

    &__advantages-icon {
        color: rgb(255, 193, 5);
    }

    &_specs {
        margin: 0 0 24px;
    }

    &__specs-title {
        margin: 0 0 48px;
    }

    &__specs-icon {
        color: rgb(16, 188, 131);
    }

    &__specs-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 16px;
        list-style-type: none;
        padding: 0;
        margin: 0;

        @media (max-width: 768px) {
            grid-template-columns: 1fr; // в одну колонку на мобильных
            grid-template-rows: auto;
        }
    }

    &__specs-item {}

    &__specs-term {
        margin: 0;
        font-size: 14px;
        line-height: 20px;
        font-weight: 300;
        color: rgb(176, 176, 181);
    }

    &__specs-value {
        font-weight: 500;
    }

}