.titles {
    padding-top: 60px;
    &__title {
        margin:0;
        font-family: 'Raleway', sans-serif;
        font-weight: 900;
        font-size: 130px;
        text-transform: uppercase;
        text-align: center;
        transition: transform 0.4s;
        // background: linear-gradient(90deg, #002efa 0%, #fc02d6 100%);
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;
        // background-clip: text;
        // color: transparent;

        &:hover {
            transform: scale(1.2);
        }
    }

    &__subtitle {
        font-weight: 100;
        margin: 0 0 40px;
        text-align: center;
        transition: transform 0.4s;
    }
}